@page "/Users"
@inject IHttpClientFactory HttpClientFactory;
@using TabsClassLibrary;
@rendermode InteractiveServer


<h3>Users list</h3>

<ul>
    @if (users == null || users.Length == 0)
    {
        <li>Loading...</li>
    }
    else
    {
        foreach (var item in users)
        {
            <li>
                <strong>@item.Name</strong>: @item.UserID, @item.Role

            </li>
        }
    }
    </ul>
@code
{
    private User[] users;

    protected override async Task OnInitializedAsync()
    {
        // יצירת HttpClient באמצעות IHttpClientFactory שהוגדר ב-Program.cs
        var client = HttpClientFactory.CreateClient("API");

        // קריאה ל-API והבאת נתונים בפורמט JSON (התאם את ה-URL לפי ה-API שלך)
       // var response = await client.GetStringAsync("api/Users"); // השתמש בנתיב API הרלוונטי

        // נניח שה-API מחזיר רשימה של מחרוזות
        //Users = System.Text.Json.JsonDocument.Parse(response).RootElement;

        var response = await client.GetAsync("api/Users");
        if (response.IsSuccessStatusCode)
        {
            users = await response.Content.ReadFromJsonAsync<User[]>();
        }

    }
}



