@using TabsClassLibrary
@using BlazorAppForTabs.Services
@inject NavigationManager Navigation
@inject UserService UserService
@rendermode InteractiveServer
@inject IJSRuntime JS



<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="images/honeycomb2.jpg" alt="Logo" style="width: 40px; height: auto;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav gap-5">
                <li class="nav-item">
                    <a class="nav-link" href="/">חיפוש</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#" @onclick="() => RequireLoginOrNavigate(MyTabsLink)">הטאבים שלי</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#" @onclick="() => RequireLoginOrNavigate(CreateTabLink)">יצירת טאב</a>
                </li>

                @if (UserService.IsTeacher())
                {
                    <li class="nav-item">
                        <a class="nav-link" href="#" @onclick="() => RequireLoginOrNavigate(TeacherLink)">דף מורה</a>
                    </li>
                }

                @if (UserService.IsAdmin())
                {
                    <li class="nav-item">
                        <a class="nav-link" href="#" @onclick="() => RequireLoginOrNavigate(AdminLink)">דף אדמין</a>
                    </li>
                }




            </ul>
            <ul class="navbar-nav ms-auto">
                @if (string.IsNullOrEmpty(UserService.UserName))
                {
                    <li class="nav-item">
                        <span class="nav-link disabled">שלום, אורח</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signin">התחברות</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <span class="nav-link">שלום, @UserService.UserName</span>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-outline-danger" @onclick="Logout">התנתקות</button>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>

@code {
    private string MyTabsLink = "/mytabs";
    private string CreateTabLink = "/createtab";
    private string TeacherLink = "/teacher";
    private string AdminLink = "/admin";


    private void Logout()
    {
        UserService.ClearUser();
        Navigation.NavigateTo("/", forceLoad: true);
    }

    private async void RequireLoginOrNavigate(string target)
    {
        if (string.IsNullOrEmpty(UserService.UserName))
        {
            await JS.InvokeVoidAsync("alert", "עליך להתחבר כדי לגשת לעמוד זה.");
            Navigation.NavigateTo("/signin", forceLoad: true);
        }
        else
        {
            Navigation.NavigateTo(target);
        }
    }



}

